body{
  background-color: rgb(218, 90, 90)!important;
}

.topbar{
   background:#d9d9d9;
    min-height:180px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
  
  
}

.topbar h1{
    margin:0;
    font-weight:700;
    color:#000;
    text-align:center;

    /* Reszponzív betűméret */
    font-size:clamp(2rem, 6vw, 5rem);
}

.footer{
  background-color: rgb(40, 40, 40);
  color: white;

}
.footer li{
    list-style: none;
}

/* AI lent  */


/*  */


Chrome, Safari, Edge
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}